#app{
    width: 100%;
    height: 100vh;
    background-image: url("/assets/images/image.png");
    background-size: cover;
}
form{
    width: 500px;
    padding: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%,-50%);
    box-shadow: 2px 8px 16px gray,
    12px 18px 26px gray;
}
.form-row{
    margin: 10px 0;
}
.form-row input{
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #ccc;
    line-height: 1.5;
    padding-left: 10px;
    padding-right: 25px;
}
.form-row i{
    right: 0;
    top: 15px;
    color: gray;
    cursor: pointer;
}

.form-row button{
    outline: none;
    background-color: green;
    border: none;
    height: 40px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
button:disabled{
    opacity: 0.7;
    cursor: not-allowed;
}
form h2{
    text-align: center;
    color: green;
    text-transform: uppercase;
}
.error{
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    display: none;
}
.info{
    text-align: center;
    font-size: 0.6rem;
}
.info a{
    color: green;
    text-decoration: none;
}
@media screen and (max-width: 550px) {
    form{
        width: 90%;
    }
}